<div class="col-md-4">

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Attribute Directive</h3>
    </div>
    <div class="panel-body">
      <h4>Pick a highlight color</h4>
      <div>
        <input type="radio" name="colors" (click)="color='lightgreen'">Green
        <input type="radio" name="colors" (click)="color='yellow'">Yellow
        <input type="radio" name="colors" (click)="color='cyan'">Cyan
      </div>
      <p [appHighlight]="color">Highlight me!</p>
    </div>
  </div>
</div>
